.form-control-plaintext {
  padding: 0px !important;
}

.invalid {
  border: 1px solid red;
}
.valid-class {
  border: 2px solid green;
}
/* .showDiv {
  display: none;
} */

.bold {
  font-weight: bold;
}
